
<footer>
       
    <div class="footer-items">
        <ul>
            <h3>Conócenos</h3>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Carreras</a></li>
            <li><a href="#">Comunicados de prensa</a></li>
            <li><a href="#">Ciencia de Homestead </a></li>
        </ul>
        <ul>
            <h3>Conéctate con nosotros</h3>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
        <ul>
            <h3>Gana dinero con nosotros</h3>
            <li><a href="#">Vende en Homestead</a></li>
            <li><a href="#">Vende bajo  y rapido </a></li>
            <li><a href="#">Protege y construye tu marca</a></li>
            <li><a href="#">Venta global</a></li>
            <li><a href="#">Conviértete en afiliado</a></li>
            <li><a href="#">Logística de Homestead </a></li>
            <li><a href="#">Publicita tus productos</a></li>
            <li><a href="#"> Pay en comercios</a></li>
        </ul>
        <ul>
            <h3>Permítenos ayudarte</h3>
            <li><a href="#">COVID-19 y Homestead</a></li>
            <li><a href="#">Tu cuenta</a></li>
            <li><a href="#">Centro de devoluciones</a></li>
            <li><a href="#">Protección de compra al 100%</a></li>
            <li><a href="#">Descarga la aplicación de Homestead</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </div>
<p>&copy; 2024 Homestead. Todos los derechos reservados.</p>
</footer>
