{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>

            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarCliente">Agregar Cliente</button>

            <table class="table table-bordered table-striped table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">País</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.correo_electronico }}</td>
                        <td>{{ cliente.direccion }}</td>
                        <td>{{ cliente.ciudad }}</td>
                        <td>{{ cliente.pais }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="editarCliente('{{ cliente.id_cliente }}', '{{ cliente.nombre }}', '{{ cliente.apellido }}', '{{ cliente.correo_electronico }}', '{{ cliente.direccion }}', '{{ cliente.ciudad }}', '{{ cliente.pais }}', '{{ cliente.telefono }}')">Editar</button>
                        </td>
                        <td><a href="{{ url_for('eliminar_cliente', id_cliente=cliente.id_cliente) }}" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para agregar cliente -->
<div class="modal fade" id="modalAgregarCliente" tabindex="-1" aria-labelledby="modalAgregarClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarClienteLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('agregar_cliente') }}" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                    <div class="mb-3">
                        <label for="correo_electronico" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                    </div>
                    <div class="mb-3">
                        <label for="pais" class="form-label">País</label>
                        <input type="text" class="form-control" id="pais" name="pais" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar cliente -->
<div class="modal fade" id="modalEditarCliente" tabindex="-1" aria-labelledby="modalEditarClienteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarClienteLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editarClienteForm" action="/cliente/editar/" method="POST">
                <input type="hidden" id="editarIdCliente" name="id_cliente">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="editarNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="editarNombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="editarApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="editarApellido" name="apellido">
                    </div>
                    <div class="mb-3">
                        <label for="editarCorreoElectronico" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="editarCorreoElectronico" name="correo_electronico">
                    </div>
                    <div class="mb-3">
                        <label for="editarDireccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="editarDireccion" name="direccion">
                    </div>
                    <div class="mb-3">
                        <label for="editarCiudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="editarCiudad" name="ciudad">
                    </div>
                    <div class="mb-3">
                        <label for="editarPais" class="form-label">País</label>
                        <input type="text" class="form-control" id="editarPais" name="pais">
                    </div>
                    <div class="mb-3">
                        <label for="editarTelefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="editarTelefono" name="telefono">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
<script src="{{ url_for('static', filename='js/scriptCliente.js') }}"></script>
{% endblock javascripts %}
