{% extends "base.html" %}

{% block title %} Productos {% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Lista de Productos</h5>
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">Agregar Producto</button>
            <table class="table table-bordered table-striped table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Dimensiones</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id_producto }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>{{ producto.categoria.nombre }}</td>
                        <td>{{ producto.marca }}</td>
                        <td>{{ producto.dimensiones }}</td>
                        <td>{{ producto.peso }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="editarProducto('{{ producto.id_producto }}', '{{ producto.nombre }}', '{{ producto.descripcion }}', '{{ producto.precio }}', '{{ producto.stock }}', '{{ producto.categoria.id_categoria }}', '{{ producto.marca }}', '{{ producto.dimensiones }}', '{{ producto.peso }}')">Editar</button>
                        </td>
                        <td><a href="{{ url_for('eliminar_producto', id_producto=producto.id_producto) }}" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal para agregar producto -->
<div class="modal fade" id="modalAgregarProducto" tabindex="-1" aria-labelledby="modalAgregarProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarProductoLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('agregar_producto') }}" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_categoria" class="form-label">Categoría</label>
                        <select class="form-select" id="id_categoria" name="id_categoria" required>
                            <option value="">Selecciona una opción</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" class="form-control" id="marca" name="marca">
                    </div>
                    <div class="mb-3">
                        <label for="dimensiones" class="form-label">Dimensiones</label>
                        <input type="text" class="form-control" id="dimensiones" name="dimensiones">
                    </div>
                    <div class="mb-3">
                        <label for="peso" class="form-label">Peso</label>
                        <input type="number" class="form-control" id="peso" name="peso" step="0.01">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Producto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar producto -->
<div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarProductoLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editarProductoForm" action="/producto/editar/" method="POST">
                <input type="hidden" id="editarIdProducto" name="id_producto">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="editarNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="editarNombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="editarDescripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="editarDescripcion" name="descripcion" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editarPrecio" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="editarPrecio" name="precio" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="editarStock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="editarStock" name="stock" required>
                    </div>
                    <div class="mb-3">
                        <label for="editarCategoria" class="form-label">Categoría</label>
                        <select class="form-select" id="editarCategoria" name="id_categoria" required>
                            <option value="">Selecciona una opción</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editarMarca" class="form-label">Marca</label>
                        <input type="text" class="form-control" id="editarMarca" name="marca">
                    </div>
                    <div class="mb-3">
                        <label for="editarDimensiones" class="form-label">Dimensiones</label>
                        <input type="text" class="form-control" id="editarDimensiones" name="dimensiones">
                    </div>
                    <div class="mb-3">
                        <label for="editarPeso" class="form-label">Peso</label>
                        <input type="number" class="form-control" id="editarPeso" name="peso" step="0.01">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{{ url_for('static', filename='js/scriptProducto.js') }}"></script>
{% endblock javascripts %}
